.App {
  display: flex;
  width: 100vw;
}
.fridgestock {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100vw;
}
.fridgestock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;

  max-height: 750px;
  width: 30vw;
  min-width: 400px;
  overflow: scroll;
  overflow: auto;
  border: 1px black solid;
  border-radius: 5vh;
  margin: 2.5%;
  flex: 1;
}
.fridgestock-container-h1 {
  width: 100%;
  border-bottom: solid black 2px;
  text-align: center;
  background-color: lightgray;
  margin-bottom: 2%;
}
.fridgestock-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 7.5%;
  text-align: center;
  font-size: 250%;
  border-radius: 15vw;
  border: 1px solid grey;
  transition: all 0.5s;
}
.fridgestock-search:hover {
  background-color: rgb(168, 168, 168);
}
.fridgestock-search:focus {
  outline: none;
  background-color: rgb(168, 168, 168);
}
.autocomplete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 20%;
  min-height: 75px;
  max-height: 140px;
  height: fit-content;
  width: 90%;
}
.autocomplete-ingredient {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  min-width: fit-content;
  margin: 1% 2.5%;
  padding: 0 1% 0.7%;
  font-size: 120ew;
  border: grey solid 1px;
  border-radius: 2vw;
  background-color: rgb(211, 211, 211);
  cursor: pointer;
  transition: all 0.5s;
}
.autocomplete-ingredient:hover {
  background-color: rgb(168, 168, 168);
}
.ingredients {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 10%;
  flex: 1;
  width: 90%;
  height: 80%;
  transition: all 0.5s;
}
.ingredient {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20%;
  max-height: 60px;
  text-align: center;
  width: 95%;
  margin: 1% 2.5%;
  padding: 1%;
  padding: 0 1% 0.7%;
  font-size: 150%;
  border: grey solid 1px;
  border-radius: 2vw;
  background-color: rgb(211, 211, 211);
  cursor: pointer;
  transition: all 0.5s;
}

.remove-ingredient {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: fit-content;
  border-radius: 5vh;
  background-color: rgb(211, 211, 211);
  border: none;
  color: transparent;
  transition: all 0.5s;
}
.remove-ingredient:hover {
  border: black 1px solid;
  color: black;
}
.fetch-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 7.5%;
  text-align: center;
  font-size: 250%;
  border-radius: 2vw;
  cursor: pointer;
  transition: all 0.5s;
}
.fridgestock-container button:focus {
  outline: none;
}
.fridgestock-container button:hover {
  background-color: rgb(211, 211, 211);
}

.fridgestock-container h2 {
  height: 1.5%;
}
.so-close-inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  width: 95%;
  overflow-y: auto;
}
