.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.md-form,
.form-control {
  margin: 0 !important;
  padding: 0;
}
input.form-control {
  padding: 0 !important;
}
.md-form label {
  transform: translate(0px);
}
.md-form {
  flex-grow: 1;
}
.btn {
  margin: 0.375rem 0;
}
