.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.md-form,
.form-control {
  margin: 0 !important;
  padding: 0;
}
input.form-control {
  padding: 0 !important;
}
.md-form label {
  transform: translate(0px);
}
.md-form {
  flex-grow: 1;
}
.btn {
  margin: 0.375rem 0;
}
.btn-default {
  color: #fff;
  background-color: #5ad3d1 !important;
}
.MuiPaper-elevation1 {
  box-shadow: 2px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.navbar {
  width: 90%;
}
.bg-light {
  background-color: #5ad3d1 !important ;
}
